/* Include CSS, becuase ILIAS does overwrite */
.ilCourseObjectiveProgressBarCompleted.progress-bar {
    background-color: #60b060;
}

.ilCourseObjectiveProgressBarFailed.progress-bar {
    background-color: #b06060;
}

.ilCourseObjectiveProgressBarFailed.progress-bar.percent-0  {
    background-color: transparent;
    color: #737373;
}
