
<body>
<div class="center">

	<div> <img src="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/ParticipationCertificate/src/dhbw2.jpg" alt=""> </div>

	<div class="head"> {{ TITLE }} </div>

	<div> <p class="p-first"> <i> {{INTRODUCTION}} </i></p> </div>
	<!--
	<div> <p class="p-first"> <i>{{ user.getFullname }}</i>, hat am Studienvorbereitungsprogramm mit
	  Schwerpunkt "Mathematik" auf der Lernplattform studienvorbereitung.dhbw.de
	  teilgenommen. </p> </div>

	<div> <p class="p-first"> Die Teilnahme von <i>{{ user.getFullname }}</i> vor Studienbeginn an der DHBW
	  Karlsruhe zum {{ semester.get }} umfasste:</p> </div>
	-->
	<div class="table1"> <p class="p-first"> <b>Studienvorbereitung - Mathematik:</b></p>
		<table id="table1">
			<tr>
				<td class="align-left" id="td1"> Abschluss
					des diagnostischen <br> Einstiegstest </td>
				<td class="align-center" id="td2">
					<!-- <img class="checkimg" src="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/ParticipationCertificate/src/check.png" alt="">-->
					{{check1}}</td>
			</tr>
			<tr>
				<td class="align-left" class="align-top">
					Bearbeitung von empfohlenen <br> Mathematik - Lernmodulen </td>
				<td class="align-center" id="td3">
					{{resultlearnmodule}} </td>
			</tr>
		</table>
	</div>

	<div class="date"> <p> Karlsruhe, den {{dateget}}</p>  </div>
	<div id="signature"><p> <b> {{nameteacher}} </b> </p>
		<p> <b> ({{functionteacher}}) </b> </p></div>

</div>
<!-- ENDE SEITE EINS -->
<div class="pagebreak">
</div>
<!-- BEGIN SEITE ZWEI -->
<div class="center">
	<div> <img src="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/ParticipationCertificate/src/dhbw2.jpg" alt=""> </div>
	<div> <h1 id="header2"> Erläuterungen zur Bescheinigung </h1> </div>
</div>

<div class="justify"> <p id="small"> {{ EXPLANATION }} </p>
</div>

<p>
	<b> {{EXPLANATIONTWO}}</b>
</p>

<div>
	<p> <b> Studienvorbereitung - Mathematik </b></p>
	<table id="table3">
		<tr>
			<td id="td8"> Abschluss des Diagnostischer
				Einstiegstest Mathematik</td>
			<td id="td9"> 41 Fragen aus den Themengebieten: <ul>
				<li> Bruchrechnung </li>
				<li> Potenzen </li>
				<li> Quadratische Gleichungen </li>
				<li> Termumformungen </li>
				<li> Trigonometrische Terme </li>
				<li> Logarithmen </li>
				<li> Funktionen und deren Eigenschaften </li>
				<li> Algebraische Gleichungen höherer Ordnung </li>
				<li> Analystische Geometrie </li>
				<li> Vektorrechnung </li>
			</ul></td>
		</tr>
		<tr>
			<td class="align-top"> Bearbeitung von empfohlenen
				Mathematik-Lernmodulen</td>
			<td> {{ modulesdone }} der empfohlenen Module
				bearbeitet aus den zehn <br> genannten Themengebieten</td>
		</tr>
	</table>
</div>


</body>
